# Hidden files and directories
.*
!.gitignore
!.github

# Markdown files except README
*.md
!README.md

/target
/Cargo.lock

# Fuzz build artifacts
/fuzz/target/
/fuzz/Cargo.lock
/fuzz/corpus/
/fuzz/artifacts/
